.userItem {
  margin: 30px;
  display: flex;
  padding: 40px 0;

  .userItemImg {
    width: 150px;
    height: 150px
  }

  .userItemContent {
    .userInfoItem {
      width: 250px;
      margin: 10px;
      word-wrap: break-word;
    }
  }

}

.userCardsContainer {
  display: flex;
  justify-content: space-around;

  .cardContainerActive {
    width: 450px;
    height: 100%;
    background-color: lightblue;
  }

  .cardContainer {
    width: 450px;
    height: 100%;
    background-color: lightgray;
  }

  .userCardActive {
    user-select: none;
    margin: 0 0 8px 0;
    min-height: 50px;
    background-color: #263B4A;
    color: white;
  }

  .userCard {
    user-select: none;
    width: 500px;
    margin: 0 0 8px 0;
    min-height: 50px;
    background-color: #456C86;
    color: white;
  }
}

.userGraph{
  width: 500px;
  height: 300px;
  margin-left: 30px;

.statisticHeader{
  text-align: center;
}
}